<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{DD:MM:YYYY HH:mm:SS} [%t] %highlight{%5p} %c{1}:%M():%L - %m%n" />
		</Console>

		<File name="FileAppender" fileName="logs/application.log">
			<PatternLayout pattern="%d{DD:MM:YYYY HH:mm:SS} [%t] %highlight{%5p} %c{1}:%M():%L - %m%n" />
		</File>

	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console"> </AppenderRef>
			<AppenderRef ref="FileAppender"> </AppenderRef>
		</Root>
	</Loggers>
</Configuration>
